---
layout: page
title: Projects
---
<!-- <section class="list">
    {% for post in site.posts %}
        {% if post.projects %}
            <div class="item {% if post.star %}star{% endif %}">
                <a class="url" href="{% if post.externalLink %}{{ post.externalLink }}{% else %}{{ site.url }}{{ post.url }}{% endif %}">
                    <aside><time datetime="{{ post.date | date:"%d-%m-%Y" }}">{{ post.date | date: "%b %d %Y" }}</time></aside>
                    <h3 class="title">{{ post.title }}</h3>
                </a>
            </div>
        {% endif %}
    {% endfor %}
</section> -->
<!-- <a href="./projects/pathtracer/pathtracer.html">test</a> -->
<link rel="stylesheet" href="./projects/gallery_style.css">

<br>
<br>

<h1 class="section_header">Graphics Portfolio</h1>
<section class="list">
  <div class="item">
    <a href="./projects/pathtracer/pathtracer.html">
      <img src="./projects/gallery_cards/pathtracer.png" width="300">
    </a>
    <div class="gallery_card">
      <a href="./projects/pathtracer/pathtracer.html">
        <h2>Pathtracer</h2> 
      </a>
      <p class="description">
        Implemented features to handle efficient ray-scene intersections with 
        the Moller-Trumbore algorithm, BVH generation, direct and global illumination,
        material simulation and optics, and adaptive sampling. 
      </p>
    </div>
  </div> 
  <br>
  <div class="item">
    <a href="./projects/volumetric_scattering/volumetric_scattering.html">
      <img src="./projects/gallery_cards/volumetric_scattering.png" width="300">
    </a>
    <div class="gallery_card">
      <a href="./projects/volumetric_scattering/volumetric_scattering.html">
        <h2>Volumetric Scattering</h2> 
      </a>
      <p class="description">
        An extension on the Pathtracer project to allow the renderer to handle 
        homogenous participating media.
      </p>
    </div>
  </div>
  <br>
  <div class="item">
    <a href="./projects/fluidsim/fluidsim.html">
      <img src="./projects/gallery_cards/fluidsim.png" width="300">
    </a>
    <div class="gallery_card">
      <a href="./projects/fluidsim/fluidsim.html">
        <h2>APIC Fluid Simulation</h2> 
      </a>
      <p class="description">
        APIC fluid simulation which was an extension of the PIC/FLIP fluid 
        simulation originally written by Robert Bridson, and later augmented 
        by Ante Qu. 
      </p>
    </div>
  </div>
  <br>
  <div class="item">
    <a href="./projects/cadence/cadence.html">
      <img src="./projects/gallery_cards/high_performance.png" width="300">
    </a>
    <div class="gallery_card">
      <a href="./projects/cadence/cadence.html">
        <h2>High Performance Graphics with OpenGL</h2> 
      </a>
      <p class="description">
        Implemented optimizations to improve performance of realtime rendering
        including high precision reverse depth buffering, pixel buffer object 
        support for asynchronous transfer, and arcball camera logic.
      </p>
    </div>
  </div>
  <br>
  <div class="item">
    <a href="./projects/rasterizer/rasterizer.html">
      <img src="./projects/gallery_cards/rasterizer.png" width="300">
    </a>
    <div class="gallery_card">
      <a href="./projects/rasterizer/rasterizer.html">
        <h2>Rasterizer</h2> 
      </a>
      <p class="description">
        Implemented features in a rasterizer to handle basic rasterization, antialiasing,
        barycentric coordinate interpolation, rapid triangle in-testing, and 
        level sampling and pixel sampling for texture mapping.
      </p>
    </div>
  </div>
  <br>
  <div class="item">
    <a href="./projects/meshedit/meshedit.html">
      <img src="./projects/gallery_cards/meshedit.png" width="300">
    </a>
    <div class="gallery_card">
      <a href="./projects/meshedit/meshedit.html">
        <h2>Meshedit</h2> 
      </a>
      <p class="description">
        Implemented logic to handle computation of bezier curves and bezier surfaces,
        as well as manipulation of triangle meshes, such as edge flipping, edge splitting,
        and mesh subdivision.
      </p>
    </div>
  </div>      
</section>